   * {
    box-sizing: border-box;
  }
  
  body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial;
  }
  
  /* Center website */
  .main {
    max-width: 1000px;
    margin: auto;
  }
  
  h1 {
    font-size: 25px;
    word-break: break-all;
  }
  h2 {
    font-size: 18px;
    word-break: break-all;
  }
  /* Content */
  
    .content {
      background-color: white;
      padding: 10px;
      margin-bottom: 18px ;
        margin-left:0px;
        margin-right:0px;
     
    }
  
  .footer{
      
      bottom: 0cm;
      font-size:12px;
      padding-bottom: 4px;
  }
  
  .header{
      max-width: 1000px;
      margin:auto;
  }
  .menu{
    max-width: 1000px;
    margin: auto;
      float:right;
  }
  .menu a {
      display: inline-block;
              text-align: center;
              padding-left: 14px; 
              text-decoration: none;
              /* font-size: 17px; */
              /* font-family: 'Roboto', sans-serif; */
      color: darkslategray;
  }
  
  @media only screen and (max-width: 600px) {
      .menu a{
          display: none;
      }
  }
  
  .responsivetitle{
    position: absolute; 
    top: 0; 
    left:20%;
    padding:0; 
    margin-left:0; 
    font-weight: bolder; 
  }
  
  .inChinese{
    font-size:4.5vw;
    margin-top:0.5em; 
    margin-bottom:0.2em;
  }
  
  .inEnglish{
    font-size:3.5vw;
    margin:0.2em; 
  }

  @media only screen and (min-width: 1000px) {
    .inChinese{
      font-size:50px;
    }
    .inEnglish{
      font-size:35px;
    }
  }
  
  .dropbtn {
    
    color: rgb(80, 77, 77);
    padding: 10px;
    font-size: 20px;
    border: none;
    cursor:pointer;
    display:none;
    margin-bottom: 8px ;
    margin-left:0px;
    margin-right:0px;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #b8bbbd;

  }
  
  .dropdown {
    max-width: 1000px;
    margin: auto;
    /* position: relative; */
    display: block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown a:hover {background-color: #ddd;}
  .menu a:hover{background-color: #ddd;}
  .active{font-weight:bold}
  
  .show {display: block;}

  /* .img{
    width:100%;
  } 

  img {vertical-align: middle;}*/


  .galleryentry{
    object-fit: scale-down;
    max-width: 100%;
    height:100%;
    vertical-align:middle;

    position: absolute;
    top: 0;
  }


/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding-top: 66.7%;
  background: white; /** <-- For the demo **/
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}